<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Clasificador{% endblock %}

{% block content %}
<h1>Cinco primeros archivos en el directorio a clasificar</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre del Archivo</th>
      </tr>
    </thead>
    <tbody>
      {% for archivo in archivos %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ archivo }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="btn btn-primary" href="{% url 'escritosJudiciales:clasificador' %}" role="button">Clasificar</a>
{% endblock %}