<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Resultados{% endblock %}

{% block content %}
<div id="miElemento" data-materia="{{ materia }}" data-origen="{{ origen }}" data-viaAcceso="{{ viaAcceso }}"></div>
<h1>Recuento por Materia</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Civil y comercial</th>
            <th scope="col">Contencioso Administrativo / tributario</th>
            <th scope="col">Familia</th>
            <th scope="col">Electoral</th>
            <th scope="col">Previsional</th>
            <th scope="col">Penal y contravencional</th>
            <th scope="col">Laboral</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ materia.Civil_y_comercial }}</td>
            <td>{{ materia.Contencioso_Administrativo_tributario }}</td>
            <td>{{ materia.Familia }}</td>
            <td>{{ materia.Electoral }}</td>
            <td>{{ materia.Previsional }}</td>
            <td>{{ materia.Penal_y_contravencional }}</td>
            <td>{{ materia.Laboral }}</td>
        </tr>
    </tbody>
</table>

<h1>Recuento por Origen</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Federal</th>
            <th scope="col">Provincial</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ origen.Federal }}</td>
            <td>{{ origen.Provincial }}</td>
        </tr>
    </tbody>
</table>

<h1>Recuento por Vía de Acceso</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Origen</th>
            <th scope="col">Competencia</th>
            <th scope="col">Competencia apelada de recursos</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ viaAcceso.Originario }}</td>
            <td>{{ viaAcceso.Competencia }}</td>
            <td>{{ viaAcceso.Recurso }}</td>
        </tr>
    </tbody>
</table>

  <!-- Gráfico de torta para la categoría "Materia" -->
<canvas id="graficoMateria"></canvas>

<!-- Gráfico de torta para la categoría "Origen" -->
<canvas id="graficoOrigen"></canvas>

<!-- Gráfico de torta para la categoría "Vía de Acceso" -->
<canvas id="graficoViaAcceso"></canvas>
<script type="module" src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>

<script src="{% static 'chartTorta.js' %}"  type="module"></script>
{% endblock %}