body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #434343 0%, #000000 100%);
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    color: #E0E0E0;
    margin: 0 auto 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#textForm {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 60%;
}
textarea {
    width: 100%;
    height: 150px;
    border: 2px solid #555;
    border-radius: 12px;
    padding: 15px;
    font-size: 16px;
    color: #DDD;
    background: #333333;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    resize: vertical;
}
button {
    background-color: #8A2BE2; /* Strong violet color */
    color: white;
    border: 2px solid #8A2BE2; /* Border color set to match the background */
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0 4px 6px rgba(138, 43, 226, 0.4);
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, transform 0.2s ease;
    margin-top: 20px; /* Adds spacing between the text areas and the button */
}
button:hover {
    background-color: #9932CC; /* Darker violet on hover */
    box-shadow: 0 8px 16px rgba(138, 43, 226, 0.6);
    transform: translateY(-2px);
}
#result {
    margin-top: 30px;
    background: rgba(51, 51, 51, 0.9);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 60%;
    font-size: 18px;
}