<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  {% load static %}
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Droid+Sans+Mono" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>{% block title %}Paginal Principal{% endblock %}</title>
  <style>
    .nav-link {
    margin-right: 10px; /* Espacio entre los elementos de navegación */}
  </style>
</head>
<body>
  <main>
    <div style="background-color: rgb(57, 57, 139); color: white;padding: 10px; height: 100px; " class="d-flex align-items-center justify-content-start">
      <nav class="nav nav-pills flex-raw ">
        <a class=" text-sm-center nav-link active" aria-current="page" href="{% url 'escritosJudiciales:index'%}">Clasificador</a>
        <a class=" text-sm-center nav-link active" aria-current="page" href="{% url 'requerimientos:index'%}">Requerimientos</a>
      </nav>
    </div>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>