{% extends 'base.html' %}
{% load static %}

{% block title %} Herramienta de comparación de texto {% endblock %}

{% block content %}

{% csrf_token %}
<script>
    let pdfUrl = null;
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function submitTexts() {
        var form = document.getElementById('textForm');
        var formData = new FormData(form);
        var textField = form.querySelector('textarea[name="text1"]');
        var textField2 = form.querySelector('textarea[name="text2"]');
        var csrftoken = getCookie('csrftoken');
        
        if (!textField.value.trim()) {
        alert('El campo de texto no puede estar vacío.');
        return; 
    }

        if (!textField2.value.trim()) {
        alert('El segundo campo  de texto no puede estar vacío.');
        return; 
    }
  

        fetch("{% url 'requerimientos:compare_text' %}", {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrftoken
            },
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('result').innerHTML = 
                '<p>Similaridad estructural: ' + data.similarity.toFixed(2) + '</p>' +
                '<p>Similaridad semántica (Lesk): ' + data.semantic_similarity_lesk.toFixed(2) + '</p>' +
                '<p>Similaridad en palabras: ' + data.word_similarity.toFixed(2) + '</p>' ;
            

            // Guarda la URL para la descarga del PDF
            if (data.pdf_url) {
                pdfUrl = data.pdf_url;
                document.getElementById('downloadButton').disabled = false;
            }
        })
        .catch(error => {
            console.error('Error:', error);
            // Deshabilita el botón si hay un error
            document.getElementById('downloadButton').disabled = true;
        });
    }

    function downloadPDF() {
        if (pdfUrl != null) {
            window.location.href = pdfUrl;
        } else {
            alert('Primero debe realizar una comparación.');
        }
    }
</script>

<style>
    body {
        font-family: 'Open Sans', sans-serif;
    }
    .textarea-container {
        margin-bottom: 1rem;
    }
    .textarea-container textarea {
        width: 100%;
        height: 150px;
        resize: none;
    }
</style>


<div class="container mt-5">
    <h1 class="mb-4"> Herramienta de comparación de texto </h1>
    <form id="textForm">
        <div class="textarea-container">
            <textarea class="form-control" name="text1" placeholder="Ingrese el primer texto aqui..."></textarea>
        </div>
        <div class="textarea-container">
            <textarea class="form-control" name="text2" placeholder="Ingrese el segundo texto aqui..."></textarea>
        </div>
    </form>
    <button class="btn btn-primary mb-3" onclick="submitTexts()">Comparar</button>
    <div id="result" class="mb-3"></div>
    <button id="downloadButton" class="btn btn-success" onclick="downloadPDF()">Descargar PDF</button>
</div>

{% endblock %}